/*Header.vue的样式 start*/
.header {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    font-size: 22px;
    color: #fff;
    border-bottom: 1px solid #3064d7;
    -webkit-box-shadow: 0 5px 20px rgba(48,100,215,.6) inset;
    box-shadow: inset 0 5px 20px rgba(48,100,215,.6);
}
.collapse-btn{
    float: left;
    padding: 0 21px;
    cursor: pointer;
    line-height: 70px;
}
.header .logo{
    float: left;
    width:250px;
    line-height: 70px;
}
.header-right{
    float: right;
    padding-right: 50px;
}
.header-user-con{
    display: flex;
    height: 70px;
    align-items: center;
}
.btn-fullscreen{
    transform: rotate(45deg);
    margin-right: 5px;
    font-size: 24px;
}
.btn-bell, .btn-fullscreen{
    position: relative;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
}
.btn-bell-badge{
    position: absolute;
    right: 0;
    top: -2px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #f56c6c;
    color: #fff;
}
.btn-bell .el-icon-bell{
    color: #fff;
}
.user-name{
    margin-left: 10px;
}
.user-avator{
    margin-left: 20px;
}
.user-avator img{
    display: block;
    width:40px;
    height:40px;
    border-radius: 50%;
}
.el-dropdown-link{
    color: #fff;
    cursor: pointer;
}
.el-dropdown-menu__item{
    text-align: center;
}
.user-login-out{
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
    line-height: 16px;
}
.user-avator{
    display: flex;
}
.user-avator .user-info{
    line-height: 40px;
    margin-left: 10px;
}
.el-menu-item {
    border-bottom: 2px solid #3064d7;
    -webkit-box-shadow: 0 5px 20px rgba(48,100,215,.6) inset;
    box-shadow: inset 0 5px 20px rgba(48,100,215,.6);
}
.el-menu-item:hover{
    background:none;
    opacity: 0.5;
}
.el-menu-item:active{
    background:none;
}
/*Header.vue的样式 end*/
/*Footer.vue的样式 start*/
.footer{
    height: 50px;
    line-height: 50px;
    color: #eceff6;
    text-align: center;
    font-size: 14px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #242f42;
    border-top: 2px solid #3064d7;
    -webkit-box-shadow: 0 5px 20px rgba(48,100,215,.6) inset;
    box-shadow: inset 0 5px 20px rgba(48,100,215,.6);
}
/*Footer.vue的样式 end*/
/*Sidebar.vue的样式 start*/
.side-bar{
    overflow: auto;
    width: 200px;
    max-width: 200px;
    min-width: 200px;
    margin-top: 10px;
    color: #fff;
    background: url("../img/border.png") no-repeat 0;
    background-size: 100% 100%;
}
.side-bar li {
    width: 100%;
    height: 50px;
    background: url("../img/border.png") no-repeat 0;
    background-size: 100% 100%;
    text-align: center;
    line-height: 50px;
}
/*Sidebar.vue的样式 end*/
/*Tags.vue的样式 start*/
.tags {
    position: relative;
    height: 30px;
    overflow: hidden;
    background: #fff;
    padding-right: 120px;
}

.tags ul {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.tags-li {
    float: left;
    margin: 3px 5px 2px 3px;
    border-radius: 3px;
    font-size: 12px;
    overflow: hidden;
    cursor: pointer;
    height: 23px;
    line-height: 23px;
    border: 1px solid #e9eaec;
    background: #fff;
    padding: 0 5px 0 12px;
    vertical-align: middle;
    color: #666;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.tags-li:not(.active):hover {
    background: #f8f8f8;
}

.tags-li.active {
    color: #fff;
}

.tags-li-title {
    float: left;
    max-width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 5px;
    color: #666;
}

.tags-li.active .tags-li-title {
    color: #fff;
}

.tags-close-box {
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
    padding-top: 1px;
    text-align: center;
    width: 110px;
    height: 30px;
    background: #fff;
    box-shadow: -3px 0 15px 3px rgba(0, 0, 0, .1);
    z-index: 10;
}
/*Tags.vue的样式 end*/

.content-common{
    width: 100%;
    height: 100%;
    line-height: 32px;
    margin-left: 20px;
    line-height: 50px;
}
#uploadFile {
    display: none;
}
.mg-left-20{
    margin-left: 20px;
}
.mg-left-30{
    margin-left: 30px;
}
.title {
    padding: 20px;
    color: #1ed8d8;
}
.btn-center {
    text-align: center;
}
.vas-history-item {
    width: 450px;
    background-size: 100% 100%;
    margin-right: 20px;
    position: relative;
}
.vas-picture-display {
    width: 100%;
    background: url("../img/border.png") no-repeat 50%;
    background-size: 100% 100%;
    margin-right: 20px;
    position: relative;
}
.vas-picture-item {
    width: 100%;
    text-align: center;
    height: 100%;
}
.vas-picture-list-item {
    display:flex; 
    flex-wrap:wrap;
    background: url("../img/border.png") no-repeat 50%;
    background-size: 100% 100%;
    cursor: pointer;
}
.vas-picture-list {
    position: relative;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: url("../img/border.png") no-repeat 50%;
    background-size: 100% 100%;
    text-align: center;
}
.wrapper {
    background: url("../img/common-bg.jpg") no-repeat 50%;
    background-size: 100% 100%;
}
.list-checkbox {
    position: absolute;
    left: 130px;
    top: 4px;
}
.vas-list-btn {
    width: 100%;
    background: url(/static/img/border.ca0224c.png) no-repeat 50%;
    background-size: 100% 100%;
    margin-right: 20px;
    position: relative;
    height: auto;
}
.vas-detal>div>label {
    text-align: left;
}