.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 9999;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.md-show {
	visibility: visible;
}
.md-content {
    color: #606266;
    background: #fff;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
}
.md-content h3 {
    margin: 0;
    padding: 0.4em;
    text-align: left;
    font-size: 1.6em;
    font-weight: 300;
    opacity: 0.8;
    background: #d6d6d6;
    border-radius: 3px 3px 0 0;
}
.md-content > div {
    padding: 15px 40px 30px;
    margin: 0;
    line-height: 48px;
    font-size: 14px;
    font-weight: normal;
}
.md-modal .btn-center{
    text-align: center;
    margin-top: 20px;
}
.md-modal-content {
    display: inline-block;
    width: 90px;
    text-align: right;
    margin-right: 10px;
}
.cover {
	position: fixed;
	top: 0px;
	left: 0px;
    width: 100%;
    height: 100%;
	z-index: 2000;
    background: #606266 none repeat scroll 0% 0%;
    opacity: 0.5;
}